# Ignore BitTorrent torrent files
*.torrent

# Optional: ignore local build artifacts and editor files
*.exe
*.log
.DS_Store
node_modules/
dist/.torrent
testconn.go
.gitignore
debian-12.10.0-amd64-netinst.iso
go.sum
go.mod